.container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .container mat-form-field {
    width: 220px;
  }
  
  .container form {
    margin-bottom: 20px;
  }
  
  .container form > * {
    margin: 12px 0;
  }
  
  .container .mat-radio-button {
    margin: 0 12px;
  }

  .form-fields {
    text-align: center;
  }
  
  .example-form-fields {
    display: flex;
    align-items: flex-start;
  }

  .form-button {
    text-align: center;
  }

  .form {
    position: relative;
    top: 100px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: cadetblue;
    border-radius: 10px;
  }